{% extends "base.html" %}
{% block nav %}
<li class="nav-item">
    <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="/aboutus">Members</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/projects">Research Projects</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/publications">Publications</a>
</li>
{% endblock %}

{% block content1 %}<h1 style="text-align:center; color:white">Dr. Chun-I Chiu</h1>{% endblock %}
{% block content2 %}<p style="text-align:center; color:white"><img
        src="https://raw.githubusercontent.com/TermCIC/termitechiu-website/main/DrChiu.JPG" alt="Dr. Chun-I Chiu"
        width="300" class="center"></p>{% endblock %}

{% block content3 %}
<table style="margin-left:400px;margin-right:auto; font-weight: normal; text-align:left; color:white">
    <tr style="font-size:100%">
        <th>Contact</th>
    </tr>
    <tr style="font-size:100%">
        <td>Phone Number: <br>
            E-mail: tim77918@msn.com<br>
            ResearchGate: https://www.researchgate.net/profile/Chun-I-Chiu<br>
        </td>
    </tr>
</table>{% endblock %}

{% block content4 %}
<hr>{% endblock %}

{% block content5 %}
<table style="margin-left:400px;margin-right:auto; font-weight: normal; text-align:left; color:white">
    <tr style="font-size:100%">
        <th>Educational Background</th>
    </tr>
    <tr style="font-size:100%">
        <td>Ph.D., National Chung Hsing University, Department of Entomology, 2014 – 2018.<br>
            M.Sc., National Chung Hsing University, Department of Entomology, 2011 – 2014.<br>
            B.S., National Chung Hsing University, Department of Entomology, 2007 – 2011.<br>
        </td>
    </tr>
</table>
{% endblock %}

{% block content6 %}
<hr>{% endblock %}

{% block content7 %}
<table style="margin-left:400px;margin-right:auto; font-weight: normal; text-align:left; color:white">
    <tr style="font-size:100%">
        <th>Research Interests</th>
    </tr>
    <tr style="font-size:100%">
        <td>Integrated pest management of termites <br>
            Nutrition and population ecology of insects<br>
            Insect-fungi symbiont system<br>
        </td>
    </tr>
</table>
{% endblock %}

{% block content8 %}
<hr>{% endblock %}

{% block content9 %}
<table style="margin-left:400px;margin-right:auto; font-weight: normal; text-align:left; color:white">
    <tr style="font-size:100%">
        <th>Skills</th>
    </tr>
    <tr style="font-size:100%">
        <td>Biostatistics<br>
            Linear and non-linear modeling<br>
            Multivariate analysis<br>
            R programming language<br>
            Python programming language<br>
            C programming language<br>
        </td>
    </tr>
</table>
{% endblock %}