{% extends "base.html" %}
{% block nav %}
<li class="nav-item">
    <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="/aboutus">Members</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/projects">Research Projects</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/publications">Publications</a>
</li>
<li class="nav-item" style="text-align:center">
    <a class="nav-link" href="/sample">Termite Identification</br>Service</a>
</li>
{% endblock %}

{% block content1 %}
<hr>{% endblock %}

{% block content2 %}<h1 style="text-align:center; color:white">Dr. Chun-I Chiu</h1>{% endblock %}

{% block content3 %}<p style="text-align:center; color:white"><img
        src="https://raw.githubusercontent.com/TermCIC/termitechiu-website/main/DrChiu.JPG" alt="Dr. Chun-I Chiu"
        width="300" class="center"></p>{% endblock %}

{% block content4 %}
<table style="margin-left:auto;margin-right:auto; font-weight: normal; text-align:left; color:white">
    <tr style="font-size:100%">
        <td><strong>Contact</strong><br>
            Phone Number: <br>
            E-mail: tim77918@msn.com<br>
            ResearchGate: https://www.researchgate.net/profile/Chun-I-Chiu<br>
            <br>
            <strong>Educational Background</strong><br>
            Ph.D., National Chung Hsing University, Department of Entomology, 2014 – 2018.<br>
            M.Sc., National Chung Hsing University, Department of Entomology, 2011 – 2014.<br>
            B.S., National Chung Hsing University, Department of Entomology, 2007 – 2011.<br>
            <br>
            <strong>Research Interests</strong><br>
            Integrated pest management of termites <br>
            Nutrition and population ecology of insects<br>
            Insect-fungi symbiont system<br>
            <br>
            <strong>Skills</strong><br>
            Biostatistics<br>
            Linear and non-linear modeling<br>
            Multivariate analysis<br>
            R programming language<br>
            Python programming language<br>
            C programming language<br>
        </td>
    </tr>
</table>{% endblock %}