{% extends "base.html" %}
{% block title %} Laboratory of Urban Entomology, Chiang Mai University {% endblock %}
{% block nav %}
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/aboutus">Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">Research Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/publications">Publications</a>
          </li>
{% endblock %}
{% block head1 %}Dr. Chun-I Chiu{% endblock %}
{% block content1 %}
<img src="https://raw.githubusercontent.com/TermCIC/termitechiu-website/main/DrChiu.JPG" alt="Dr. Chun-I Chiu" width="300" class="center"><br>
{% endblock %}
{% block head2 %}Contact{% endblock %}
{% block content2 %}
Phone Number: <br>
E-mail: tim77918@msn.com<br>
ResearchGate: https://www.researchgate.net/profile/Chun-I-Chiu<br>
{% endblock %}
{% block head3 %}Educational Background{% endblock %}
{% block content3 %}
Ph.D., National Chung Hsing University, Department of Entomology, 2014 – 2018.<br>
M.Sc., National Chung Hsing University, Department of Entomology, 2011 – 2014.<br>
B.S., National Chung Hsing University, Department of Entomology, 2007 – 2011. <br>
{% endblock %}
{% block head4 %}Research Interests{% endblock %}
{% block content4 %}
Integrated pest management of termites     <br>
Nutrition and population ecology of insects<br>
Insect-fungi symbiont system               <br>
{% endblock %}
{% block head5 %}Skills{% endblock %}
{% block content5 %}
Biostatistics<br>
Linear and non-linear modeling<br>
Multivariate analysis<br>
R programming language<br>
Python programming language<br>
C programming language<br>
{% endblock %}


{% block head6 %} {% endblock %}
{% block content6 %}Copyright 1999-2022 by Chun-I Chiu. All Rights Reserved.{% endblock %}