{% extends "base.html" %}
{% block content1 %}
<div style="color:white; font-size: 18px; margin-top: 2.5%; margin-left: 2.5%; margin-right: 2.5%">
    <h4> Termites as Urban Pest </h4><br>
    Termites are important urban pests in Thailand, they damage houses, wood structures, papers, trees, crops.
    Termites are social insects, a mature colony contains millions of individuals and excavate tunnels with
    >100m in
    distance and infest multiple houses, which cause serious economic loss. However, due to their cryptic
    life-style, it is not easy to manage household termite problems and the cost of management is highest among
    house pests.<br>
    <table style="margin-top: 2.5%; margin-left: 12.5%; margin-right: 2.5%; text-align: center">
        <tr>
            <td><img src="https://raw.githubusercontent.com/TermCIC/termitechiu-website/main/CoptotermesIndex_2.jpg"
                     style="max-width: 100%; max-height: 100vh; height: auto"></td>
            <td><img src="https://raw.githubusercontent.com/TermCIC/termitechiu-website/main/NeotermesIndex_1.jpg"
                     style="max-width: 100%; max-height: 100vh; height: auto"></td>
        </tr>
        <tr>
            <td><i>Coptotermes formosanus</i><br>a house-infesting termite pest</td>
            <td><i>Neotermes kosheunensis</i><br>a tree-infesting termite pest</td>
        </tr>
    </table>
    <br>
    <h3> Reproduction of Termites </h3>
    <br>
    Worker and soldier are castes commonly observed in wood, while the winged termites appear only in
    dispersal flight season. Once winged termites enter houses, they may establish colonies and become new kings and
    queens of the colony.
    <table style="margin-top: 2.5%; margin-left: 2.5%; margin-right: 2.5%; text-align: center">
        <tr>
            <td><img src="https://raw.githubusercontent.com/TermCIC/termitechiu-website/main/Slide3.JPG"
                     style="max-width: 100%; max-height: 100vh; height: auto"></td>
            <td><img src="https://raw.githubusercontent.com/TermCIC/termitechiu-website/main/Slide4.JPG"
                     style="max-width: 100%; max-height: 100vh; height: auto"></td>
            <td><img src="https://raw.githubusercontent.com/TermCIC/termitechiu-website/main/Queen.JPG"
                     style="max-width: 100%; max-height: 100vh; height: auto"></td>
        </tr>
        <tr>
            <td>Workers and soldiers of <i>Odontotermes formosanus</i></td>
            <td>Winged reproductives of <i>Odontotermes formosanus</i></td>
            <td>Queen of <i>Globitermes sulferus</i></td>
        </tr>
    </table>
    <br>

    <table style="margin-top: 2.5%; margin-left: 2.5%; margin-right: 2.5%; text-align: left">
        <tr>
            <td><h3> About Termite Identification Service</h3><br>
                Termite Identification Service is founded by Dr. Chun-I Chiu, Department of Entomology and Plant
                Pathology of Chiang Mai University. Termite Identification Service aims to help Thai residents to
                identify termite
                pest species and analyze termite composition and distribution in Thailand.

            </td>
            <td><h3> Receiving Address </h3><br>
                Department of Entomology and Plant Pathology, Faculty of Agriculture, Chiang Mai University 239, Huay
                Kaew Road,
                Muang District,Chiang Mai Thailand, 50200
            </td>
        </tr>
    </table>
</div>
{% endblock %}