{% extends "base.html" %}

{% block content2 %}
<div class="bg-dark text-white rounded" style="border-style: dashed; border-color: black">
    <div class="container p-3 my-3 bg-dark text-white center rounded" style="width:300px">
        <h2 style="text-align:center; color:white">User Login</h2>
        <form action="{{ url_for('login') }}" method="POST" style="text-align:left; color:white">
            <strong>E-mail</strong><input class="form-group" type="text" name="Email" style="width: 100%"
                                          placeholder="Your E-mail address.."/></br>
            <strong>Password</strong><input class="form-group" type="password" name="Password" style="width: 100% "
                                            placeholder="Your password.."/><br>
            <p style="text-align:center; color:Tomato"> {% block contentz %}{% endblock %}</p>
            <table>
                <td>
                    <tr>
                        <input type="submit" class="btn btn-success" value="Login" style="width:100%"/></br>
                    </tr>
                    <tr>
                        <div>

                        </div>
                    </tr>
                    <tr>
                        <a type="submit" value="Forgot Password" class="btn btn-danger"
                           action="{{ url_for('register') }}"
                           style="width:100%">Forgot Password
                        </a>
                    </tr>
                </td>
            </table>

        </form>
    </div>
</div>{% endblock %}