{% extends "base.html" %}
{% block nav %}
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutus">Members</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/projects">Research Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/publications">Publications</a>
          </li>
{% endblock %}
{% block head2 %}Household Termites: Diversity and Distribution{% endblock %}
{% block content2 %}
<img src="https://raw.githubusercontent.com/TermCIC/termitechiu-website/main/NeotermesIndex_1.jpg" alt="Household Termites" width="300" class="center">
<img src="https://raw.githubusercontent.com/TermCIC/termitechiu-website/main/CoptotermesIndex_2.jpg" alt="Household Termites" width="300" class="center">
{% endblock %}
{% block head3 %}Insect-Fungi Symbiont System{% endblock %}
{% block content3 %}
<img src="https://raw.githubusercontent.com/TermCIC/termitechiu-website/main/Spores1.jpg" alt="Insect-Fungi Symbiont System" height="400" class="center">
<img src="https://raw.githubusercontent.com/TermCIC/termitechiu-website/main/Spores2.jpg" alt="Insect-Fungi Symbiont System" height="400" class="center">
{% endblock %}

{% block content6 %}Copyright 1999-2022 by Chun-I Chiu. All Rights Reserved.{% endblock %}