{% extends "base.html" %}
{% block title %} Laboratory of Urban Entomology, Chiang Mai University {% endblock %}
{% block nav %}
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutus">Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">Research Projects</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/publications">Publications</a>
          </li>
{% endblock %}
{% block head2 %}Journal Articles{% endblock %}
{% block content2 %}<p style="text-align:left; color:white">
1.	Chiu, C.-I., Y.-H. Chuang, W.-R. Liang, H.-T. Yeh, H.-Y. Yang, M.-J. Tsai, N. A. Spomer, H.-F. Li. 2022. Area‐population control of fungus‐growing termite, Odontotermes formosanus, using hexaflumuron durable baits. Pest Management Science 78: 104-115. (Refereed, SCI, IF: 4.845, Q1)<br>
2.	Lin, W.-J. G.-Y. Chen, C.-I Chiu, W.-R. Liang, M.-J. Tsai, H.-T. Yeh, H.-F. Li. 2021. Damage and reinvasion of Asian subterranean termite on trees: a case study of luchu pine in Xiaping Tropical Botanical Garden. Journal of Experimental Forest of National Taiwan University 35: 49-60. (in Chinese)<br>
3.	Chiu, C.-I., A. J. Mullins, K.-C. Kuan, M.-D. Lin, N.-Y. Su, H.-F. Li. 2021. Termite salinity tolerance and potential for transoceanic dispersal through rafting. Ecological Entomology 46(1): 106-116. (SCI, IF: 2.465, Q1)<br>
4.	Kuan, K.-C., C.-I. Chiu, M.-C. Shih, K.-J. Chi, and H.-F. Li. 2020. Termite’s twisted mandible presents fast, powerful, and precise strikes. Scientific Reports 10: 9462. (Co-first author, SCI, IF: 4.380, Q1)<br>
5.	Sripontan, Y., C.-I Chiu, S. Tanansathaporn, K. Leasen, and K. Manlong. 2020. Modeling the growth of black soldier fly Hermetia illucens (Diptera: Stratiomyidae): An approach to evaluate diet quality. Journal of Economic Entomology 113: 742-751. (SCI, IF: 2.381, Q1)<br>
6.	Chiu, C.-I., H.-T. Yeh, J.-C. Yu, H.-F. Li, and M.-J. Tsai. 2020. Termite occurrence on tree trunk affected by tree species, tree size, and its crown coverage. Journal of Experimental Forest of National Taiwan University 34: 15-24. (in Chinese)<br>
7.	Kanzaki, N., W.-R. Liang, C.-I. Chiu, H.-F. Li. 2020. Acrostichus ziaelasin. sp. (Nematoda: Diplogastridae) isolated from the beetle Ziaelas formosanus, a tenebrionid symbiont of the termite Odontotermes formosanus with remarks on the genus Acrostichus Rahm, 1928. Zoologischer Anzeiger 286: 20-30. (SCI, IF: 1.521, Q2)<br>
8.	Chiu, C.-I. and H.-F. Li. 2019. Termite diversity in colonized areas of Leucaena leucocephala (Lam.) in Kenting National Park. Journal of National Park 29: 1-10. (in Chinese)<br>
9.	Kanzaki, N., W.-R. Liang, C.-I Chiu, C.-T. Yang, Y.-P. Hsueh, and H.-F. Li. 2019. Nematode-free agricultural system of a fungus-growing termite. Scientific Reports 9: 8917. (SCI, IF: 4.380, Q1)<br>
10.	Chiu, C.-I, J.-H. Ou, C.-Y. Chen, and H.-F. Li. 2019. Fungal nutrition allocation enhances mutualism with fungus-growing termite. Fungal Ecology 41: 92-100. (SCI, IF: 3.404, Q1)<br>
11.	Chiu, Y.-N., C.-I Chiu, W.-R. Liang, M.-J. Tsai, H.-F. Li, and H.-T. Yeh. 2019. Surveying the invasive termite, Coptotermes gestroi (Blattodea: Rhinotermitidae), in different altitudes of the Experimental Forest of National Taiwan University. Journal of Experimental Forest of National Taiwan University 33: 11-20. (in Chinese)<br>
12.	Chiu, C.-I, H.-T. Yeh, P.-L. Li, C.-Y. Kuo, M.-J. Tsai, and H.-F. Li. 2018. Foraging penology of the fungus-growing termite Odontotermes formosanus (Blattodea: Termitidae). Environmental Entomology 47: 1509-1516. (SCI, IF: 2.377, Q2)<br>
13.	Lai, Y.-Y., G.-H. Li, C.-I Chiu, M.-J. Tsai, H.-T. Yeh, and H.-F. Li. 2018. Termite monitoring and control in the surroundings of wood houses in Fenhuang Nature Education Area. Journal of Experimental Forest of National Taiwan University 32: 139-146. (in Chinese)<br>
14.	Chiu, C.-I, K.-B. Neoh, H.-F. Li. 2018. Colony-founding success of pleometrosis in a fungus-growing termite Odontotermes formosanus. Behavioral Ecology and Sociobiology 72:13. (SCI, IF: 2.980, Q1)<br>
15.	Sripontan, Y., T. Juntavimon, S. Songin, and C.-I Chiu. 2017. Egg-trapping of black soldier fly, Hermetia illucens (L.) (Diptera: Stratiomyidae) with various wastes and the effects of environmental factors on egg-laying. Khon Kaen Agriculture Journal 45: 179-184.<br>
16.	Li, H.-F., H.-T. Yeh, C.-I Chiu, C.-Y. Kuo, and M.-J. Tsai. 2016. Vertical distribution of termites on trees in two forest landscapes in Taiwan. Environmental Entomology 45: 557-581. (SCI, IF: 2.377, Q2)<br>
17.	Chiu, C.-I, H.-T. Yeh, M.-J. Tsai, and H.-F. Li. 2016. Naturalization and control of Coptotermes gestroi (Blattodea: Rhinotermitidae) in a Taiwanese forest. Journal of Economic Entomology 109: 1317-1325. (SCI, IF: 2.381, Q1)<br>
18.	Chiu, C.-I, M.-M. Yang, and H.-F. Li. 2016. Redescription of the soil-feeding termite Sinocapritermes mushae (Isoptera: Termitidae: Termitinae): the first step of genus revision. Annals of the Entomological Society of America 109: 158-167. (SCI, IF: 2.099, Q2)<br>
19.	Chiu, C.-I, H.-F. Li, H.-T. Yeh, and M.-J. Tsai. 2015. Termite survey of Zelkova serrata plantations in moderate and low altitude areas of Taiwan. Journal of Experimental Forest of National Taiwan University 29: 69-77. (in Chinese)<br>
20.	Chiu, C.-I, H.-F. Li, and M.-M. Yang. 2015. Structure and function of subterranean gallery systems of soil-feeding termites Pericapritermes nitobei and Sinocapritermes mushae. Insectes Sociaux 62: 393-400. (SCI, IF: 1.643, Q2)<br>
21.	Chiu, C.-I, H.-F. Li, and M.-M. Yang. 2010. The geographical distribution and the dispersal flight season of Odontotermes formosanus (Isoptera: Termitidae) in Taiwan. Formosan Entomologist 30: 193-202. (in Chinese)<br>
</p>
{% endblock %}

{% block head3 %}Oral and Poster Presentations at Professional Meetings{% endblock %}
{% block content3 %}<p style="text-align:left; color:white">
1.	Chiu, C.-I, Y.-H. Chuang, W.-R. Liang, H.-T. Yeh, H.-Y. Yang, M.-J. Tsai, N. A. Spomer, and H.-F. Li. 2021. Application of hexaflumuron termite bait in controlling fungus-growing termites. The 42th Annual Meeting of Taiwan Entomological Society. October 23-24, Online Meeting.<br>
2.	Chiu, C.-I, A. J. Mullins, K.-C. Kuan, M.-D. Lin, N.-Y. Su, and H.-F. Li. 2020. Termite salinity tolerance and potential for transoceanic dispersal through rafting. The 41th Annual Meeting of Taiwan Entomological Society. October 16-17, Taipei, Taiwan.<br>
3.	Chiu, C.-I. 2020. Termites’ fungal cultivation as a ruminant-like digestive system. The 13th Pacific Rim Termite Research Group Conference. February 12-13, Taipei, Taiwan.<br>
4.	Chiu, C.-I, H.-T. Yeh, P.-L. Li, C.-Y. Kuo, M.-J. Tsai, and H.-F. Li. 2018. Foraging penology of the fungus-growing termite Odontotermes formosanus (Blattodea: Termitidae). The 39th Annual Meeting of Taiwan Entomological Society. October 20-21, Tainan, Taiwan.<br>
5.	Chiu, C.-I and H.-F. Li. 2018. Odontotermes formosanus regulate α-amino acids and fatty acids with their symbiont fungus. The 12th Pacific Rim Termite Research Group Conference. March 21-22, Yogyakarta, Indonesia.<br>
6.	Chiu, C.-I and H.-F. Li. 2017. Fermented products of fungus garden is the major nutrition source of Odontotermes formosanus (Isoptera: Termitidae). The 38th Annual Meeting of Taiwan Entomological Society. October 20-21, Taichung, Taiwan.<br>
7.	邱俊禕、李後鋒。2017。台灣森林有害白蟻之多樣性及防治方式。海峽兩岸植物保護博士後論壇暨青年學術研討會，福州。2017年6月25-28日<br>
8.	Chiu, C.-I and H.-F. Li. 2016. Advantages of multiple kings and queens in colony-founding stage of Odontotermes formosanus (Isoptera: Termitidae). The 37th Annual Meeting of Taiwan Entomological Society. October 14-15, Taichung, Taiwan.<br>
9.	Chiu, C.-I and H.-F. Li. 2016. Interspecific competition between Coptotermes gestroi and Odontotermes formosanus in a forest ecosystem. The 11th Pacific Rim Termite Research Group Conference. April 18-19, Kunming, China.<br>
10.	Chiu, C.-I, H.-T. Yeh, M.-J. Tsai and H.-F. Li. 2015. Resource competition between endemic and invasive termites in forest. The 36th Annual Meeting of Taiwan Entomological Society. October 30-31, Taichung, Taiwan.<br>
11.	Chiu, C.-I, H.-T. Yeh, M.-J. Tsai and H.-F. Li. 2014. Monitoring Asian subterranean termite (Coptotermes gestroi (Wasmann)) colony activity in forest. The 35th Annual Meeting of Taiwan Entomological Society. October 18-19, Taipei, Taiwan.<br>
12.	H.-T. Yeh, H.-F. Li, M.-J. Tsai, C.-I Chiu, and Y.-N. Wang. 2013. Surveying of termite damage pattern, termite monitor and control methods in tropical botanical garden of Taiwan. The 34th Annual Meeting of Taiwan Entomological Society. October 25-26, Nantou, Taiwan.<br>
13.	Li H.-F., M.-J. Tsai, C.-I. Chiu, and H.-T. Yeh. 2013. Termite monitor and control methods for protecting valuable trees. The 6th conference of forest management of China and Taiwan, July 30-31, Taichung, Taiwan.<br>
14.	邱俊禕、楊曼妙、李後鋒。2012。新渡戶歪白蟻與粗長毛禾根棉蚜共居：偶然或必然? 第33屆台灣昆蟲學會年會，屏東。2012年10月26-27日<br>
15.	邱俊禕、李後鋒、楊曼妙。2012。兩種地下食土白蟻：新渡戶歪白蟻與台華歪白蟻（等翅目：白蟻科）生態區位之差異。2012年動物行為、生態與全球變遷研討會—中國生物學會、台灣哺乳動物學會聯合年會，台北。2012年1月17-18日<br>
16.	Chiu, C.-I, H.-F. Li, and M.-M. Yang. 2011. Nest structure and caste distribution of Pericapritermes nitobei (Isoptera: Termitidae). The 32th Annual Meeting of Taiwan Entomological Society. October 28-29, Taichung, Taiwan.<br>
17.	Chiu, C.-I and M.-M. Yang. 2011. Feces-using microbes in Coptotermes formosanus (Insecta: Isoptera: Rhinotermitidae). Symposium on Animal Behavior, Ecology and Biology and Environmental Education—2011 Joint Annual Conference the Biological Society of China, the Ichthyological Society of Taiwan, and the Mammalogical Society of Taiwan. January 17-18, Tainan, Taiwan.<br>
18.	Chiu, C.-I, H.-F. Li, and M.-M. Yang. 2009. Geographical distribution and dispersal flight season of Odontotermes formosanus in Taiwan. The 30th Annual Meeting of Taiwan Entomological Society. October 9-11, Taipei, Taiwan.<br>

</p>
{% endblock %}


{% block content6 %}Copyright 1999-2022 by Chun-I Chiu. All Rights Reserved.{% endblock %}